body {
    background-color: #282828;
}

.feature {
    position: relative;
    width: 6rem;
}

.card {
    min-height: 350px;
    max-height: 350px;
}

#foro{
    width: 5rem;
}

.icon_store {
    width: 300px;
    max-width: 300px;
}

.appicon {
    width: 10rem;

}

.appname {
    width: 10rem;
}