body {
    background-color: #282828;
}
.hexagon {
    position: relative;
    width: 10rem;
}

.feature {
    position: absolute;
    top:25%;
    left: 35%;
    width: 3rem;
}

.card {
    min-height: 400px;
}